/* helper class names */

.transition {
	transition: $global-transition;
}

.fade-enter-active, .fade-leave-active {
  transition: $global-transition;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	margin: 0;
}

.disable-user-select {
	user-select: none;
}


@media only screen and (max-width: $breakpoint-mobile) {

		.mobile-hidden {
			display: none !important;
		}

}
@media only screen and (min-width: $breakpoint-mobile+1) {

		.desktop-hidden {
			display: none !important;
		}

}
